{%extends 'base.html'%}
{% block content %}
<div class="uk-container uk-margin-large-bottom">
<div class="uk-container uk-margin-large-top">

  <div class="row">
    {% if users%}
      <h2>Found {{ users|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 users for the search term {{message}}</h2>
    {% endif %}

  </div>
  </div>
<div class="uk-container">

  <div class="uk-card">

  {% if users %}
    {% for item in users %}
      <h2>{{item.user}}</h2>
      <img src="{{item.profile_pic.url}}"  alt="Image"width="300px"height="300px">
    {% endfor %}
      {% endif %}

  </div>
</div>
</div>


{% endblock %}

  
